operateur.dtd

<!ELEMENT operateur (client+)>
<!ELEMENT client (abonnement+)>
<!ELEMENT abonnement (facture+)>
<!ELEMENT facture EMPTY>
<!ATTLIST client
          code CDATA #REQUIRED
          nom CDATA #REQUIRED>
<!ATTLIST abonnement
          num NMTOKEN #REQUIRED
          type (GSM|FIXE) 'FIXE'
          dateAb CDATA #REQUIRED>
<!ATTLIST facture
          numFact NMTOKEN #REQUIRED
          dateFact CDATA #REQUIRED
          montant CDATA #REQUIRED
          reglee (OUI|NON) 'NON'>